{% extends "tabel/base.htm" %}

{% block sidebar %}
<h2>Инструкция по печати табеля бригады</h2>
<ul>
    <li>Выберите пункт меню "Табели бригад"</li>
    <li>В меню слева выберите руководителя бригады, для которой нужно сформировать табель</li>
    <li>В меню слева выберите год, для которго нужно сформировать табель</li>
    <li>В меню слева выберите номер месяца, для которго нужно сформировать табель</li>
    <li>Нажмите кнопку "Вывести"</li>
    <li>Распечатейте табель используя функцию печати браузера (Ctrl-P)</li>
</ul>
<h2>Инструкция по первоначальному заполнению табеля бригады на конкретный месяц значениями по умолчанию</h2>
<ul>
    <li>При отсутствии записей в табеле бригады на выбранный месяц в момент открытия табеля для печати согласно предыдущему
        пункту будет выполнено автоматическое заполнение месяца для всех членов бригады типовыми значениями</li>
</ul>
<h2>Инструкция по вводу данных табеля бригады</h2>
<ul>
    <li>Выберите пункт меню "Редактировать данные"</li>
    <li>Введите свой логин и пароль</li>
    <li>Выберите пункт "Табель рабочего времени"</li>
    <li>Для добавления записи нажмите "Добавить табель рабочего времени" в правом верхнем углу</li>
    <li>Заполните данные и нажмите "Сохранить" для последующего выхода из режима редактирования или "Сохранить и добавить
        другой объект" или "Сохранить и продолжить редактирование"</li>
    <li>Для редактирования записи нажмите на дату нужной записи для перехода в режим редактирования</li>
    <li>Для редактирования сновных полей достаточно внести изменение в это поле и нажать кнопку "Сохранить" внизу справа</li>
    <li>Для удобства поиска нужной записи служит фильтр по времени, руководителю или члену бригады в правой части окна</li>
    <li>Для перехода в режим печати нужно нажать ссылку "Открыть сайт" в правой верхней чати окна</li>
</ul>
{% endblock sidebar %}