{% extends "tabel/base.htm" %}

{% block sidebar %}
<table class="table-content" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <!-- Sidebar слева -->
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                <li>
                    <form method="post" action="{% url 'tabel' %}">
                        {% csrf_token %}
                        <p>Бригада<br><select name="supervisor_id">
                            {% for m in brigades %}
                                <option value="{{ m.pk }}" >{{ m.name }}</option>
                            {% endfor %}
                            Python
                        </select><p/>
                        <p>Год<br> <input name="year" type="number" value="2023" /></p>
                        <p>Месяц<br> <input name="month" type="number" value="1" /></p>
                        <input type="submit" value="Вывести" />
                    </form>
                </li>
            </ul>
        </td>
        <!-- Конец Sidebar'а -->
        <td valign="top" class="content">
            <!-- Хлебные крошки -->
            {% block breadcrumbs %}
            {% endblock %}

            <!-- Блок контента -->
                <div class="content-text">
            {% block content %}
                    <p>ПРОТОКОЛ ЗАСЕДАНИЯ ПО ИТОГАМ ФХД<br>
                    за {{ month }} 2023 года<br>
                    Учитывая личный вклад работников подразделения в финасово-хозяйственный результат деятельности подразделения, допущенные
                    ими производственные упущения и достинутые производственные успехи,<br>
                    ПОСТАНОВИЛИ:<br>
                    установить для членов бригады: {{ supervisor.position }} {{ supervisor.name }}, следующие коэффициенты изменения премии (КИП):
                    <table id="table-tabel">
                        <tr>
                            <td rowspan="2">Таб.номер</td>
                            <td rowspan="2">Член бригады</td>
                            <td rowspan="2">Профессия (должность)</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td></td>
                            <td rowspan="2">Итого</td>
                            <td rowspan="2">КИП</td>
                            <td rowspan="2">Примечание</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                        </tr>
                        {% for row in tabel %}
                        <tr>
                            <td rowspan="2">{{ row.33 }}</td>
                            <td rowspan="2">{{ row.0 }}</td>
                            <td rowspan="2">{{ row.32 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td>{{ row.4 }}</td>
                            <td>{{ row.5 }}</td>
                            <td>{{ row.6 }}</td>
                            <td>{{ row.7 }}</td>
                            <td>{{ row.8 }}</td>
                            <td>{{ row.9 }}</td>
                            <td>{{ row.10 }}</td>
                            <td>{{ row.11 }}</td>
                            <td>{{ row.12 }}</td>
                            <td>{{ row.13 }}</td>
                            <td>{{ row.14 }}</td>
                            <td>{{ row.15 }}</td>
                            <td></td>
                            <td rowspan="2">{{ row.34 }}</td>
                            <td rowspan="2"></td>
                            <td rowspan="2"></td>
                        </tr>
                        <tr>
                            <td>{{ row.16 }}</td>
                            <td>{{ row.17 }}</td>
                            <td>{{ row.18 }}</td>
                            <td>{{ row.19 }}</td>
                            <td>{{ row.20 }}</td>
                            <td>{{ row.21 }}</td>
                            <td>{{ row.22 }}</td>
                            <td>{{ row.23 }}</td>
                            <td>{{ row.24 }}</td>
                            <td>{{ row.25 }}</td>
                            <td>{{ row.26 }}</td>
                            <td>{{ row.27 }}</td>
                            <td>{{ row.28 }}</td>
                            <td>{{ row.29 }}</td>
                            <td>{{ row.30 }}</td>
                            <td>{{ row.31 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    Фактический фонд рабочего времени бригады, чел.-час. {{ total }}<br>
                    {{ supervisor.position|capfirst }} __________________ {{ supervisor }}<br>
                    Начальник СРЗАИ ____________________ Януш В.М.
                    </p>
            {% endblock %}
                </div>
            <!-- Конец блока контента -->
        </td>
    </tr>
</table>
{% endblock sidebar %}