{% extends "tabel/base.htm" %}

{% block sidebar %}
<table class="table-content" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <!-- Sidebar слева -->
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                <li>
                    <form method="post" action="{% url 'tabel_total' %}">
                        {% csrf_token %}
                        <p>Год<br> <input name="year" type="number" value={{ year }} /></p>
                        <p>Месяц<br> <input name="month" type="number" value={{ month }} /></p>
                        <input type="submit" value="Вывести" />
                    </form>
                </li>
            </ul>
        </td>
        <!-- Конец Sidebar'а -->
        <td valign="top" class="content">
            <!-- Хлебные крошки -->
            {% block breadcrumbs %}
            {% endblock %}

            <!-- Блок контента -->
                <div class="content-text">
            {% block content %}
                    <p>ТАБЕЛЬ СРЗАИ за {{ month_name }} {{ year }} года<br>
                    <table id="table-tabel">
                        <tr>
                            <td style="width: 40px" rowspan="2">Таб. номер</td>
                            <td style="width: 85px; " rowspan="2">Член бригады</td>
                            <td rowspan="2">Профессия (должность)</td>
                            <td id="day">1</td>
                            <td id="day">2</td>
                            <td id="day">3</td>
                            <td id="day">4</td>
                            <td id="day">5</td>
                            <td id="day">6</td>
                            <td id="day">7</td>
                            <td id="day">8</td>
                            <td id="day">9</td>
                            <td id="day">10</td>
                            <td id="day">11</td>
                            <td id="day">12</td>
                            <td id="day">13</td>
                            <td id="day">14</td>
                            <td id="day">15</td>
                            <td id="day"></td>
                            <td style="width: 45px" rowspan="2">Отработано часов</td>
                            <td style="width: 45px" rowspan="2">Отработано дней</td>
                            <td style="width: 35px" rowspan="2">Совмещение</td>
                            <td style="width: 60px" rowspan="2">Разъезды</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                        </tr>
                        {% for row in tabel %}
                        <tr>
                            <td rowspan="2">{{ row.33 }}</td>
                            <td rowspan="2">{{ row.0 }}</td>
                            <td rowspan="2">{{ row.32 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td>{{ row.4 }}</td>
                            <td>{{ row.5 }}</td>
                            <td>{{ row.6 }}</td>
                            <td>{{ row.7 }}</td>
                            <td>{{ row.8 }}</td>
                            <td>{{ row.9 }}</td>
                            <td>{{ row.10 }}</td>
                            <td>{{ row.11 }}</td>
                            <td>{{ row.12 }}</td>
                            <td>{{ row.13 }}</td>
                            <td>{{ row.14 }}</td>
                            <td>{{ row.15 }}</td>
                            <td></td>
                            <td rowspan="2">{{ row.34|floatformat:2 }}</td>
                            <td rowspan="2">{{ row.35 }}</td>
                            <td rowspan="2">{{ row.36|floatformat:2 }}</td>
                            <td rowspan="2">{{ row.37 }}</td>
                        </tr>
                        <tr>
                            <td>{{ row.16 }}</td>
                            <td>{{ row.17 }}</td>
                            <td>{{ row.18 }}</td>
                            <td>{{ row.19 }}</td>
                            <td>{{ row.20 }}</td>
                            <td>{{ row.21 }}</td>
                            <td>{{ row.22 }}</td>
                            <td>{{ row.23 }}</td>
                            <td>{{ row.24 }}</td>
                            <td>{{ row.25 }}</td>
                            <td>{{ row.26 }}</td>
                            <td>{{ row.27 }}</td>
                            <td>{{ row.28 }}</td>
                            <td>{{ row.29 }}</td>
                            <td>{{ row.30 }}</td>
                            <td>{{ row.31 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% for error in errors %}
                    <div id="error">
                        {{ error.0 }}{{ error.1.name }}{{ error.3 }}, руководитель бригады - {{ error.2.name }}
                    </div>
                    {% endfor %}

                    Фактический фонд рабочего времени, чел.-час. {{ total|floatformat:2 }}<br>
                    Начальник СРЗАИ ____________________ Януш Виктор Михайлович
                    </p>
            {% endblock %}
                </div>
            <!-- Конец блока контента -->
        </td>
    </tr>
</table>
{% endblock sidebar %}